/* regras do menu principal */
/*seletores de elemento HTML*/
p {
    font-family: Arial;
    background-color: yellowgreen;
}

/*seletores de atributos id*/
#menu-principal {background-color: lightgray;}

/*seletores de atributos class*/
.caixa-pesquisa {text-align: left;}

/*seletores de atributos quaisquer*/
[src] {
    float: left;
    width: 10%;
   }

/*seletores de atributos pseudo-classes*/
p:hover {
    color: red;
    transform: rotate(-1deg);
}

img:hover {
    transform: scale(1.11);
}

img {
    transition: transform .3s ease-in-out;
}

/*seletores de atributos pseudo-elementos*/
p::first-letter {font-size: xx-large;}

p::after {content: "\00a9";}

/*seletores universal*/
* {
    margin: 0; 
    background-color: lightgray;
}

/*Combinação de selotores */
h1, ul {background-color: orange;}

li.active {color: lightpink;}

menu li {font-size: small;}

ol > li {background-color: lightgoldenrodyellow;}

li.active + li {color: blueviolet;}

li.actives ~ li {color: bisque;}

ul li:nth-child(even) {color: red;}

/*Regras de prioridade
0 para syte em tag
0 para id
0 para class
0 para elemento
*/

#wrapper li { color: violet;} /*0,1,0,1*/

h1,h2 {
    color: white; /*0,0,0,1*/
    color: red; /*0,0,0,1*/
}

h3.titulo { color: rgb(248, 248, 248); }/*0 pois não tem nenhum style, 0 pois não está em nenhuma id, 1 pois está em uma classe e 1 pois está em elemento*/

span {
    color: purple !important; /*0,0,0,1*/
    color: red; /*0,0,0,1*/  
}

