* {
    background-color: rgb(100, 100, 100);
}

body {
    color: rgb(255, 0, 0);
}

h1 {
    font-size: 2cm;
}

p {
    color: navy;
    font-size: 0.3cm;
}

img {
    display: block;
    margin: 0 auto;
}