/* Formatação da Estrutura */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: aqua;
    height: 30px;
    padding: 20px;
    background: url(imgs/logou.png) no-repeat ;
    background-size: 30%;
    display: flex; 
    align-items: center;
    justify-content: end;
}

main {
        background-color:  blanchedalmond;
        width: 70%;
        float: left;
        padding: 20px;
        box-sizing: border-box; /*Faz com que os 70% do bloco sejam considerados junto ao 20px do padding*/
    }
    
    aside {
        background-color: lightpink;
        width: 30%;
        float: left;
        padding: 20px;
        box-sizing: border-box;
}

h1 {
    display: none;
}

footer {
    background-color: yellow ;
    clear: both;
    text-align: center;
    padding: 10px 0;
}

/* Componente Menu Principal */
.caixa-menuprincipal {

}

.caixa-menuprincipal ul {
    list-style-type: none;
}

.caixa-menuprincipal ul li {
    display: inline-block;
}

.caixa-menuprincipal ul li a {
    text-decoration: none;
    color: black;
    background-color: burlywood;
    padding: 10px ;
    font-weight: bold;
}

.caixa-menuprincipal ul li a:hover {
        background-color: cornflowerblue;
    }

/* Componente Postagem */
.caixa-post {
    margin-bottom: 20px;
    clear: both;
}

.caixa-post img {
    display: block;
    float: left;
    width: 60px;
    margin-right: 10px;
}

.caixa-post h4 {
    font-size: 70%;
    color: gray;
    margin-bottom: 5px 0;
}

.caixa-post h4 span:nth-child(3){
   background-color: navy;
    color: white;
    padding: 3px;
    border-radius: 5px;
}

.caixa-post p {
    font-size: 70%;
    color: darkolivegreen;
}

/* Componente Pesquisa */
.caixa-pesquisa {
    margin-bottom: 30px;
}

/* Componente Categorias */
.caixa-categoria {
   
}

.caixa-categoria ul {
    list-style-type: none;
    margin-left: 10px;
}

.caixa-categoria ul li a {
    color: black;
    text-decoration: none;
}

.caixa-categoria ul li a:visited {
    color: red;
    
}