body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(./imgs/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.destaque {
    display: block;
    margin: 0 auto;
    width: 70%;
}

div {
    background-image: linear-gradient(white, rgb(109, 79, 79));
    background-color: white;
    opacity: 40%;
    width: 70%;
    margin: 15px auto;
    clear: both;
    overflow: auto;
    padding: 8px;
}

.img_news {
    float: left;
    margin: 8px;
    width: 130px;
}