/*configurações basicas da pagina*/

body{
    background-color: rgb(149, 149, 252);
    
}




/*HEADER INICIO */

.cabecalho img{
    position: absolute;
    width: 200px;
    padding: 10px;
    
}

.cabecalho h1{
    
    text-decoration: none;    
}
.cabecalho nav{
    width: 60%;
    display: flex;
    justify: content 10%;
    margin: auto;
    padding: 10px;
}
.cabecalho a{
    position: relative;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    color: #024707;
    font-size: 18px;
    letter-spacing: 0.3px;
    padding: 5px;
}
.cabecalho a:after{
    content: "";
    position: absolute;
    background-color: #9fe21a;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.cabecalho a:hover:after{
    width: 100%;
}


/*HEADER FIM */


/*MAIN INICIO */
.sobre{
    background-color: lightgreen;
}

.dados {
    background-color: #024707;
}


        /*TELA DE TAKS */
        main {
            padding-inline: 3.5vw;
            display: flex;
            gap: 2rem;
        }
        
        section {
            width: 100%;
        }
        
        form {
        
            display: flex;
            flex-direction: column;
        
            gap: 1rem;
            width: fit-content;
        }
        
        form h1 {
        
            color: white;
        }
        
        h2 {
        
            color: white;
        }
        h4{
            margin: 20px;
            color: white;
        }
        
        button[type=submit] {
            padding: .5em;
            border-radius: .5em;
            width: fit-content;
            font-size: larger;
        }
        
        .content{
            margin-top: 30px;
            padding: 15px ;
        }
        
        .div1{
            margin: 20px;
        }
        
        .div2{
            margin: 20px;
            font-family: 'Passion', sans-serif; ;
            color: rgb(245, 241, 241);
            
        }
        
        @media screen and (max-width: 850px) {
            main{
                flex-wrap: wrap;
            }
            
        }

        .voltar {
            float: right;
            text-decoration: none;
        }

        /**/button a {
            text-decoration: none;
            color: black;
            text-align: right;
            justify-content: end;
        }

        button {
            width: 100px;
            height: 50px;
            justify-content: end;
        }

        .btn-voltar {
            display: flex;
            flex-direction: row-reverse;
            padding-top: 30%;
        }
    /*FIM TELA TASKS*/







/*MAIN FIM */




/*FOOTER INICIO */
footer {
    background-color: rgb(187, 186, 186);
    position: fixed;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 50px;
}

footer p{
    display: flex;
    justify-content: space-between;
}



/*FOOTER FIM*/