/*a vírgula significa que tanto pra "p" quanto para "ul" receberam as mesmas regras*/
p, ul {
    background-color: yellow;
}

/*elementos associados a "li" e a "active" ao mesmo tempo */
li.active{
    color: red ;
}

/*Elementos hierárquicos na página quando há " " (espaço) entre eles*/
/*"li" é descendente de "menu"*/
menu li {
    font-size: xx-large;
}

main p {
    color: blue;
}

/*Quando somente os filhos recebem a regra*/
/*"li" é filho de "ul"*/
ul > li {
    color: green;
}

/*é usado o "+" para próximo irmão*/
li.active + li {
    color: aquamarine;
}

/*é usado o "~" para próximos irmãos*/
li.actives ~ li {
    color: rgb(183, 0, 255);
}